@model Actor

<div class="card w-100 d-flex flex-row">
  <div class="col-2">
    <img class="p-3" style="width: 200px;" src="~/images/cast/@Model.ProfilePicture" alt="Card image cap">
  </div>
  <div class="card-body col-10">
    <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
    <p class="card-text">@Model.Bio</p>
    <a href="#" class="btn btn-primary">Social Media</a>
  </div>
</div>