@using CineTicket.Core.Enums
@model Movie

@if (Model.MovieStatus == MovieStatus.Available)
{
    <a href="#" class="btn btn-success w-50">Book Ticket</a>
}
else if (Model.MovieStatus == MovieStatus.Upcoming)
{
    <span class="btn btn-warning w-50">@Model.MovieStatus</span>
}
else
{
    <span class="btn btn-danger w-50">@Model.MovieStatus</span>
}