<div class="search-container">
    <form class="d-flex" action="/Movie/Search" method="get">
        <div class="input-group">
            <input class="form-control" 
                    type="search" 
                    placeholder="Search for movies, actors, or categories..." 
                    name="searchTerm"
                    aria-label="Search">
            <button class="btn" type="submit">
                <i class="bi bi-search me-2"></i>Search
            </button>
        </div>
    </form>
</div>
